name: Push Container to Okteto

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: okteto/context@latest
      with:
        token: ${{ secrets.OKTETO_TOKEN }}
    
    - name: "Activate Namespace"
      uses: okteto/namespace@latest
      with:
        namespace: distance71

    - name: "Deploy application"
      uses: okteto/apply@latest
      with:
        namespace: distance71
        manifest: k8s.yml

    - name: "Push changes"
      uses: okteto/push@latest
      with:
        namespace: distance71
        name: payments-service          

    - name: Deploy to Cluster
      uses: steebchen/kubectl@v2.0.0
      with:
        config: ${{ secrets.KUBE_CONFIG_DATA }}
        command: rollout restart deployment/payments-service
